:root{
    --panelColor: rgb(156, 143, 143);
    --primaryColor: rgb(209, 109, 27);
}

button{
    background-color: var(--primaryColor);
    border: none;
    text-align: center;
}

.page{
    background-color: var(--panelColor);
    margin: 2rem auto;
    padding: 0.25rem;
    border-radius: .25rem;
}

.pre-login{
    width: 50%;
}

.authorization{
    width: 50%;
}

.logged-in{
    width: 90%;
}

.link-button{
    border-radius: 5px;
    text-decoration: none;
    background-color: var(--primaryColor) !important;
    padding: 5px;
    color: black !important;
    font-size: large;
    
    display: inline-block;
}

.pre-login .link-button{
    width: 50%;
}

.logged-in .link-button{
    width: 90%;
}



.logged-in{
    background-color: var(--panelColor);
    padding: 2rem;
}

