:root {
	--backgroundColor: #f7f7fa;
	--panelColor: #ffffff;
	--primaryColor: #fc5200;
}

body {
	background-color: var(--backgroundColor) !important;
}

button {
	background-color: var(--primaryColor);
	border: none;
	text-align: center;
}

.page {
	background-color: var(--panelColor);
	margin: 2rem auto;
	padding: 0.25rem;
}

.pre-login {
	width: 30%;
}

.authorization {
	width: 50%;
}

.logged-in {
	width: 90%;
}

.secondary-panel {
	background-color: var(--backgroundColor);
	margin: 0 auto;
	padding: 0.25rem;
	height: 100%;
}

.chart-placeholder {
	width: 100%;
	text-align: center;
	line-height: 7rem;
}

.chart-placeholder h4 {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

.link-button {
	color: white !important;
	border-radius: 3px;
	text-decoration: none;
	background-color: var(--primaryColor) !important;
	padding: 5px;
	font-size: large;
	display: inline-block;
}

.pre-login .link-button {
	width: 80%;
}

.logged-in .link-button {
	width: 90%;
}

.logged-in {
	background-color: var(--panelColor);
	padding: 2rem;
}

.chart-tooltip {
	border-radius: 0.25rem;
	background-color: var(--panelColor);
	padding: 5px;
	text-align: start;
	line-height: 1rem;
}
.chart-tooltip p {
	padding: 0.5rem 0;
	margin: 0;
}

hr.solid {
	border-top: 1px solid gray;
	padding: 0;
	margin: 0;
}
