:root{
    --panelColor: rgb(156, 143, 143);
    --primaryColor: rgb(209, 109, 27);
}

button{
    background-color: var(--primaryColor);
    border: none;
    text-align: center;
}

.pre-login{
    background-color: var(--panelColor);
    padding: 2rem;
}

.logged-in{
    background-color: var(--panelColor);
    padding: 2rem;
}

a{
    background-color: var(--primaryColor);
    border: none;
    text-align: center;
    appearance: button;
}